.row {
  color: rgba(233, 233, 233, 0.897);
  margin-left: 20px;
}

.row__movieName {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
